@page
@model RegisterModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="/css/sourcesanspro-font.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="/css/style.css" />


</head>


<body class="form-v8">
    <div class="page-content">
        <div class="form-v8-content">
            <div class="form-left">
                <img src="/images/28019ba80150bba291a6dadf03e1a843.jpg" alt="form">
            </div>

            <div class="form-right">
                <div class="tab">
                    <h9>         </h9>
                </div>

                <form asp-route-returnUrl="@Model.ReturnUrl" class="form-detail" method="post">
                    <div class="tabcontent" id="sign-up">

                        <h4>Create a new account.</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Username"></label>
                            <input asp-for="Input.Username" class="form-control" />
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.PhoneNumber"></label>
                            <input asp-for="Input.PhoneNumber" class="form-control" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.FirstName"></label>
                            <input asp-for="Input.FirstName" class="form-control" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.City"></label>
                            <input asp-for="Input.City" class="form-control" />
                            <span asp-validation-for="Input.City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Country"></label>
                            <input asp-for="Input.Country" class="form-control" />
                            <span asp-validation-for="Input.Country" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.County"></label>
                            <input asp-for="Input.County" class="form-control" />
                            <span asp-validation-for="Input.County" class="text-danger"></span>
                        </div>

                        <div class="form-row-last">
                            <button type="submit" name="register" class="register">Register</button>
                        </div>
                        
                    </div>

                </form>
            </div>
        </div>


                   
    </div>
    
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
